@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Poppins:wght@300&display=swap');
@font-face {
    font-family: 'League Spartan';
    src: url('/public/fonts/LeagueSpartan-Bold.eot');
    src: url('/public/fonts/LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'),
    url('/public/fonts/LeagueSpartan-Bold.woff2') format('woff2'),
    url('/public/fonts/LeagueSpartan-Bold.woff') format('woff'),
    url('/public/fonts/LeagueSpartan-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
img {
    max-width: 100%;
}

::placeholder {
    color: #464646;
    opacity: 1;
}
